body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------- */

.container {
    display: inline;
    padding: 0;
    overflow: hidden;
}

/* ------------------------------------------------------------- */
.container-desc {
    
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(black, #040620);
    color: #ffffff;
    padding: 25%;
    padding-bottom: 350px;
    padding-top: 150px;
    width: auto;
    height: auto;
    z-index: 1;
}

canvas {
    display: block;
}

#starCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Define o z-index para ficar atrás do conteúdo */
    width: 100%;
    height: 100%;

}

.content-about {
    display: block;
    text-align: center;
    font-family: serif;
}

.content-about h1 {
    font-size: 45px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgb(255, 255, 250), 0px 2px 5px rgba(255, 255, 250, 0.425);
}

.content-about span {
    font-size: 32px;
    color: #5F1EDE;
    text-shadow: 1px 1px 1px #6621ee, 0px 2px 5px rgba(255, 255, 250, 0.425);
}

.social-medias {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.social-medias li {
    background-color: transparent;
}

.social-medias li:hover {
    transform: scale(1.25);
    background-position: -60px;
}

/* ------------------------------------------------------------- */