a {
    color: white;
    text-decoration: none;
}

.name {
    cursor: pointer;
    justify-content: start;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 1s ease;
}

header.opaque {
    background-color: #5F1EDE;
    z-index: 2;
}

.ul-options a {
    color: white;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 64px;
    opacity: 0.8;
    box-shadow: 0 5px 12px rgb(0, 0, 0);
    text-shadow: 0 5px 10px rgb(0, 0, 0);
}

.ul-options {
    list-style: none;
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.ul-options li {
    padding: 6px 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    transform: scale(0.8);
    transition: transform 0.4s ease;
    position: relative;
}

#menu {
    padding: 0 20px;
}

.menu-button {
    width: 30px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: #5F1EDE;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

#menu li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#menu li:hover::after {
    transform: scaleX(1);
}

.toggle-button {
    width: 50px;
    height: 30px;
    background-color: #33323273;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.toggle-button .ball {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.3s ease-in-out;
}

.toggle-button.on {
    background-color: #ffffffd3;
}

.toggle-button.on .ball {
    transform: translateX(100%);
    background-color: black;
}

.toggle-button.off .ball {
    transform: translateX(0%);
}

.button {
    padding-left: 10px;
    display: none;
}

.button-theme {
    padding-right: 15px;
}

.hamburger-button {
    width: 30px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.hamburger-button .bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: background-color 0.3s ease-in-out;
}

.hamburger-button:hover .bar {
    background-color: #f7f8fa;
}

.hamburger-button.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-button.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger-button.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Estilos para o menu dropdown */
.sidebar-menu {
    display: none;
    position: fixed;
    top: 60px;
    left: -200px;
    width: 150px;
    height: 100%;
    background-color: rgba(51, 47, 47, 0.692);
    transition: left 0.3s ease-in-out;
}

.sidebar-menu.active {
    left: 0;
}

.sidebar-menu a {
    display: flex;
    width: auto;
    height: 50px;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: white;
}
