a {
    color: white;
    text-decoration: none;
}

.container-menu {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 64px;
    opacity: 0.7;
    box-shadow: 0 7px 12px rgb(0, 0, 0);
}

.name {
    justify-content: start;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
    font-size: 20px;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ul-options {
    list-style: none;
    display: flex;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
    
}

.ul-options li {
    padding: 6px;
    padding-left: 10px; padding-right: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.menu-button {
    display: none;
    align-items: center;
    justify-content: center;
}

.ul-options li:hover {
    color: brown;
    transform: scale(1.1);
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    #menu {
      display: none;
    }

    .container {
        justify-content: end;
    }

    .menu-button {
        display: flex;
        padding: 15px
    }
}