.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.image {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5px solid white;
}

.content-image .image img {
    width: 150px;
}
