.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.image {
    display: flex;
    align-items: center;
    width: 9em;
    height: 9em;
    overflow: hidden;
    border-radius: 50%;
    box-shadow:
      0 0 20px 3px rgba(135, 136, 121, 0.815);
    border: 4px solid #ffffff88;
  }
  

.content-image .image img {
    width: 150px;
}
