.container-projects {
    display: block;
    background-color: rgb(77, 77, 77);
    color: white;
    width: 100%;
}

.container-projects .title {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.project {
    display: inline;
    padding: 20px;
    max-width: 300px;
    width: auto;

}

.armor {
    border-radius: 5px;
    background-color: rgba(39, 39, 39, 0.445);
    box-shadow: 2px 2px 15px rgb(39, 39, 39);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 150px;
    overflow: hidden;
}

.img img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Para preencher toda a div, mantendo a proporção */
  }