body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container {
    display: inline;
    padding: 0px;
    overflow: hidden;
}


.container-desc {
    background-image: linear-gradient(black, #040620);
    color: #ffffff;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 500px;
    padding-top: 150px;
    width: auto;
    height: auto;
    
}

.content-about {
    display: block;
    font-family: serif;
}

.content-about h1, #about {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    text-shadow: 
        1px 1px 1px rgb(255, 255, 250), 
        0px 2px 5px rgba(255, 255, 250, 0.425);
}

#about {
    font-size: 32px;
    color: #5F1EDE;
    text-shadow: 
        1px 1px 1px #6621ee, 
        0px 2px 5px rgba(255, 255, 250, 0.425);
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
}

#social {
    padding: 0px;
    
}

.social-medias ul li {
    background-color: transparent;
}

.social-medias ul li img {
    filter: drop-shadow(0 5px 5px rgba(255, 255, 255, 0.342));
}

.social-medias ul li:hover {
    transform: scale(1.25);
    background-position: -60px;
}

.desc {
    background-color: #025E73;
    text-align: justify;
    padding-top: 10px;
    padding-right: 25%;
    padding-left: 25%;
    font-size: 25px;
    padding-bottom: 200px;
}

.desc h1 {
    text-align: center;
    color: #feffe4;
}

#info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 5px solid #a5a69285;

}






@media screen and (max-width: 600px) {
    #about {
        font-size: 22px;
    }

    h1 {
        font-size: 30px;
    }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling infinite;
}
  
@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}