@media screen and (max-width: 600px) {
    header:focus {
        outline: none;
    }
    .name {
        padding-left:  10px;
    }

    #menu {
      display: none;
    }

    .container {
        justify-content: end;
    }

    .button {
        display: flex;
        padding: 15px
    }

    .sidebar-menu {
        display: block;
    }

    #about {
        font-size: 22px;
    }

    h1 {
        font-size: 30px;
    }

}

